/*!
 * areesh.scss
 * @theme areesh 
 * @author David Kleiven
 * @auto-scaling true
 */

$color-dark: #222629;
$color-detail: #86c232;

section {
    width: 210mm;
    height: 297mm;
    background-color: white;
    color: var(--color-dark);
    padding-left: 70px;
    padding-right: 40px;
    font-size: 12px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 24px;
    border-bottom: 3px solid var(--color-detail);
}
