/* @theme ntnu-plain */

@import 'gaia';

section {
    width: 960px;
    height: 720px;
    background-color: white;
    background-image: url(https://raw.githubusercontent.com/davidkleiven/MarpThemes/githubURL/assets/circles.svg);
    font-size: 28px;
}

h1 {
    font-size: 48px;
}
